* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "inter", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Space Grotesk", sans-serif;
  line-height: 110%;
  color: #F5F6FA;
}

h1 {
  font-size: 5.5rem;
}

h2 {
  font-size: 4.6rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3.2rem;
}

h5 {
  font-size: 2.8rem;
}

p {
  font-size: 2.2rem;
  line-height: 150%;
}

.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.btn-primary {
  padding: 1.4rem 2.3rem;
  background-color: #653DF5;
  color: #F5F6FA;
  font-size: 1.8rem;
  border-radius: 10rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: 0.3s ease;
}
.btn-primary:hover {
  background-color: #2C1B6A;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

header .container .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.6rem;
  padding: 0.8rem 2rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 10rem;
}
header .container .header-content nav {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
header .container .header-content nav a {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
header .container .header-content nav a span {
  font-size: 1.6rem;
  color: #F5F6FA;
  font-weight: 500;
  transition: 0.3s ease;
}
header .container .header-content nav a span:hover {
  opacity: 0.8;
}

.s-hero {
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 9.6rem;
}
.s-hero .container {
  display: flex;
  justify-content: space-between;
  gap: 2.4rem;
  border-bottom: rgba(255, 255, 255, 0.1);
}
.s-hero .container .left {
  margin-top: 2.8rem;
}
.s-hero .container .left h1 span {
  color: #653DF5;
  text-decoration: underline;
}
.s-hero .container .left p {
  color: #C0C3CC;
  margin: 1.6rem 0 3.2rem 0;
  max-width: 49.1rem;
}
.s-hero .container .left form {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.04);
  border-radius: 10rem;
  max-width: 52.1rem;
}
.s-hero .container .left form input {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 2rem 2.4rem;
  color: #C0C3CC;
  font-size: 1.6rem;
  font-weight: 400;
}
.s-hero .container .left form button {
  margin: 0.4rem;
}
.s-hero .container .left .companys {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin: 4.8rem 0;
}
.s-hero .container .left .persons {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.s-hero .container .left .persons .person-reviwes {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.8rem;
  color: #F5F6FA;
}
.s-hero .container .left .persons .person-reviwes span {
  color: #787C87;
  font-weight: 400;
}
.s-hero .container .right {
  max-width: 592px;
  letter-spacing: -3%;
}

body {
  width: 100%;
  background-color: #030009;
}/*# sourceMappingURL=style.css.map */